#============================================
# SYSTEM Aliases
#============================================
alias c='cd'
alias cl='clear'

#============================================
# Composer Aliases
#============================================
alias cm='composer'
alias cmda='composer dump-autoload'

#============================================
# Laravel CLI
#============================================
alias lvn='laravel new'

#============================================
# Laravel - Artisan
#============================================
alias pa='php artisan'
alias pas='php artisan serve'
alias pam='php artisan migrate'
alias parl='php artisan route:list'
alias pamf='php artisan migrate:fresh'
alias pamrb='php artisan migrate:rollback'
alias pamrst='php artisan migrate:reset'
alias pat='php artisan tinker'
alias pamm='php artisan make:model'
alias pammig='php artisan make:migration'
alias pamc='php artisan make:controller'
alias pamr='php artisan migrate:rollback'
alias paqw='php artisan queue:work'

#============================================
# GIT Aliases
#============================================
alias gi='git init'
alias gaa='git add .'
alias gs='git status'
alias gl='git log'
alias gd='git diff'
alias gc='git commit'
alias gck='git checkout'
alias gb='git branch'
alias l='git log --oneline --graph'
alias gm='git merge'
alias gp='git push'
alias gpor='git push origin master'
alias grh='git reset --hard'
alias grs='git reset --soft'
alias grb='git rebase'

#============================================
# Node JS
#============================================
alias ni='npm install'
alias nu='npm update'
alias nr='npm run'
alias nrd='npm run dev'
alias nrp='npm run prodcution'
alias nrw='npm run watch'

#============================================
# Custom
#============================================
alias code="cd d:/wampp/www"
