#============================================
# SYSTEM Aliases
#============================================
alias c='cd'
alias cl='clear'

#============================================
# SCOOP Aliases
#============================================
alias sc='scoop'

#============================================
# Composer Aliases
#============================================
alias cm='composer'

#============================================
# Laravel
#============================================
alias lvn='laravel new'

#============================================
# Laravel - Artisan
#============================================
alias art='artisan'
alias pas='php artisan serve'
alias pam='php artisan migrate'

#============================================
# GIT Aliases
#============================================
alias gi='git init'
alias gaa='git add .'
alias gs='git status'
alias gl='git log'
alias gd='git diff'
alias gc='git commit'
alias gck='git checkout'
alias gb='git branch'
alias l='git log --oneline --graph'
alias gm='git merge'
alias gp='git push'
alias gpor='git push origin master'
alias grh='git reset --hard'
alias grs='git reset --soft'
alias grb='git rebase'